*.eep
*.elf
*.out
.DS_Store

*.hex

ATtiny85Programming/#Makefile#

ATtiny85Programming/button/Makefile

*.map

*.lst

*.o

papers/acm-sigchi.bst

papers/sigchi.cls

*.hex

*.hex

ATtiny85Programming/button/button.hex
